/* EstiloTabla.css */
@charset "UTF-8";

.table-container {
    width: 85%;
    padding: 20px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap; 
    overflow-x: auto; 
    max-width: 200px;
    text-align: center; 
    vertical-align: middle; 
}

th {
    background-color: #f4f4f4;
}

.table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.table-header div {
    margin: 5px 0;
}

.action-buttons {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.message-container {
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.message-container.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message-container.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.message-container.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}
